<label for="{{ id }}" [class.disabled]="!isDisabled" [class.checked]="checked">
  <span class="radio-circle">
    <span class="radio-circle__outer">
      <span class="radio-circle__inner"></span>
    </span>
    <input
      #inputRef
      (change)="inputChecked()"
      id="{{ id }}"
      name="{{ id }}"
      type="radio"
      [value]="value"
      [attr.checked]="checked ? '' : null"
      [attr.disabled]="isDisabled ? null : ''"
    />
  </span>
  <span class="radio-label">
    <ng-content></ng-content>
  </span>
</label>
