<div>
  <pre>{{ (formValue$ | async) || form.value | json }}</pre>
</div>
<hr />
<form [formGroup]="form">
  <input type="text" formControlName="email" />

  <app-radio-button-group
    disabled-group
    formControlName="option"
    groupTitle="First fieldset"
  >
    <app-radio-button [disabled]="true" [value]="1">Option 1</app-radio-button>
    <app-radio-button [value]="4">Option 2</app-radio-button>
    <app-radio-button [value]="3">Option 2</app-radio-button>
  </app-radio-button-group>

  <app-radio-button-group formControlName="variant">
    <app-radio-button disabled value="ein">Variant 1</app-radio-button>
    <app-radio-button value="zwei">Variant 2</app-radio-button>
    <app-radio-button value="drei">Variant 3</app-radio-button>
    <app-radio-button value="fier">Variant 4</app-radio-button>
    <app-radio-button checked value="funf">Variant 5</app-radio-button>
    <app-radio-button value="sechs">Variant 6</app-radio-button>
    <app-radio-button value="sieben">Variant 7</app-radio-button>
  </app-radio-button-group>
</form>
